<div class="row">
  <div class="small-12 small-centered columns">
    <br>

    <div class="row">
      <ul class="button-group">
        <%= link_to conversations_path do %>
          <li class="button text-center small-5 columns"><b>Back to Inbox</b></li>
        <% end %>

        <% if @over_five %>
          <%= link_to '?m=all' do %>
            <li class="button text-center small-6 columns"><b>Show Previous</b></li>
          <% end %>
        <% end %>
      </ul>
    </div>

    </div>

    <br>

    <div id="list-of-messages-in-the-messages-index">
      <% @messages.each do |message| %>
        <% if message.body %>
          <div>
            <div>
              <div><strong><%= message.user.first_name %></strong> <%= message.message_time %></div>
              <div>
                <div>
                  <p><small><%= message.body %></small></p>
                </div>
              </div>
            </div>
          </div>
          <hr class="style-three">
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<div class="row" id="sticky-footer">
  <div class="small-12 expanded columns">
    <%= form_for [@conversation, @message] do |f| %>
      <div>
        <%= f.text_field :body, required: true %>
      </div>
      <div>
        <%= f.text_field :user_id, value: current_user.id, type: "hidden" %>
      </div>

    <% end %>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $("#list-of-messages-in-the-messages-index").scrollTop($(document).height());
  })
</script>

