<div class="container">
  <h1 class="text-center">Inbox</h1><br>
  <div class='row'>
    <% @conversations.each do |conversation| %>
      <% if mentor? %>
      <div class="row">
        <p class="small-1 columns"></p>
        <div class="small-4 columns">
          <%=image_tag conversation.mentee.picture_url %>
        </div>
        <div class="small-7 columns">
          <b><%= conversation.mentee.first_name %> <%= conversation.mentee.last_name %></b><br>
          <small><%= conversation.mentee.current_title %> at</small><br>
          <b><%= conversation.mentee.current_company%></b><br>
          <small><%= conversation.mentee.location %></small><br>
        </div>
      </div>

        <%= link_to(conversation_messages_path(conversation.id)) do %>
          <div class="<%= conversation.has_new_unread_message(current_user) %> button small small-3 columns">
            See Conversation
          </div>
        <% end %>

      <% else %>

      <div class="row">
        <p class="small-1 columns"></p>
        <div class="small-4 columns">
          <%=image_tag conversation.mentor.picture_url %>
        </div>
        <div class="small-7 columns">
          <b><%= conversation.mentor.first_name %> <%= conversation.mentor.last_name %></b><br>
          <small><%= conversation.mentor.current_title %> at</small><br>
          <b><%= conversation.mentor.current_company%></b><br>
          <small><%= conversation.mentor.location %></small><br>
        </div>
      </div>
      <div class="row">
        <p class="small-4 columns"></p>
        <%= link_to(conversation_messages_path(conversation.id)) do %>
          <div class="<%= conversation.has_new_unread_message(current_user) %> button small small-4 columns">
            See Conversation
          </div>
        <% end %>
        <p class="small-4 columns"></p>

      </div>

      <% end %>
    <% end %>
  </div>

<hr class="style-two">

</div>
