<div id="wrapper">
  <h3>Inbox</h3>
  <div class='row'>

    <div class='small-4 columns' style="overflow-y:scroll; height: 600px;">
        <% @matches.each do |match| %>
          <div class="row">
            <%= link_to(conversation_messages_path(match.conversation_id,match.id)) do %>
              <% if mentor? %>
                <div class='row'>
                  <div class="small-12 columns">
                    <img src="<%= match.mentee.picture_url %>">
                  </div>
                </div>
                <div class='row'>
                  <div class="small-12 columns">
                    <%= match.mentee.first_name %> <%= match.mentee.last_name %><br>
                    <small> <%= match.mentee.current_title %> at <%= match.mentee.current_company %></small>
                  </div>
                </div>
              <% else %>
                <div class='row'>
                  <div class="small-12 columns">
                    <img src="<%= match.mentor.picture_url %>">
                  </div>
                </div>
                <div class='row'>
                  <div class="small-12 columns">
                    <%= match.mentor.first_name %> <%= match.mentor.last_name %><br>
                    <small> <%= match.mentor.current_title %> at <%= match.mentor.current_company %></small>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
    </div>

    <div class='small-8 columns' id="AppendedMessagesForConversation" style="overflow-y: scroll; height: 600px;">

      <p>render stuff here</p>

    </div>
  </div>
</div>

<hr>

