<div class="container">
  <h1 class="text-center">Inbox</h1><br>
  <div class='row'>
    <% @conversations.each do |conversation| %>
      <% if mentor? %>
      <div class="row">
        <p class="small-1 columns"></p>
        <div class="small-4 columns">
          <%=image_tag conversation.mentee.picture_url %><br>
        </div>
        <div class="small-7 columns">
          <b><%= conversation.mentee.first_name %> <%= conversation.mentee.last_name %></b><br>
          <%= link_to(conversation_messages_path(conversation.id)) do %>
        <div class="row">
            <div class="<%= conversation.has_new_unread_message(current_user) %> button small small-8 columns">
              <i class="step fi-mail size-36"></i><br>See Conversation
            </div>
          <% end %>
          </div>
        </div>
      </div>


      <% else %>

      <div class="row">
        <p class="small-1 columns"></p>
        <div class="small-4 columns">
          <%=image_tag conversation.mentor.picture_url %>
        </div>
        <div class="small-7 columns">
          <b><%= conversation.mentor.first_name %> <%= conversation.mentor.last_name %></b><br>
     <%= link_to(conversation_messages_path(conversation.id)) do %>
        <div class="row">
            <div class="<%= conversation.has_new_unread_message(current_user) %> button small small-8 columns">
              <i class="step fi-mail size-36"></i><br>See Conversation
            </div>
          <% end %>
          </div>
        </div>
      </div>
      <% end %>
<hr class="style-two">

    <% end %>
  </div>


</div>
