<div id="wrapper">
  <h3>Inbox</h3>
  <div class='row'>

    <div class='small-4 columns'>
        <% @matches.each do |match| %>
          <div class="row">
            <%= link_to(conversation_message_path(match.id, match.conversation_id)) do %>
              <% if mentor? %>
                <div class='row'>
                  <div class="small-12 columns">
                    <img src="<%= match.mentee.picture_url %>">
                  </div>
                </div>
                <div class='row'>
                  <div class="small-12 columns">
                    <%= match.mentee.first_name %> <%= match.mentee.last_name %><br>
                    <small> <%= match.mentee.current_title %> at <%= match.mentee.current_company %></small>
                  </div>
                </div>
              <% else %>
                <div class='row'>
                  <div class="small-12 columns">
                    <img src="<%= match.mentor.picture_url %>">
                  </div>
                </div>
                <div class='row'>
                  <div class="small-12 columns">
                    <%= match.mentor.first_name %> <%= match.mentor.last_name %><br>
                    <small> <%= match.mentor.current_title %> at <%= match.mentor.current_company %></small>
                  </div>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
    </div>
    <div class='small-8 columns'>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus lobortis tellus at sapien facilisis fermentum. Ut vel vehicula orci, eget tincidunt dolor. Aenean in luctus lectus. Nullam rhoncus sapien vel hendrerit auctor. Proin lacus sem, finibus sed nunc vel, ultricies mollis nisl. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate luctus congue. Vestibulum elit justo, fermentum at elit quis, tempor molestie eros.</p>

      <p>Nunc vitae sollicitudin neque, vitae pretium eros. Duis efficitur augue at leo consequat egestas non ut diam. Maecenas ultrices vel nulla ultricies mollis. Morbi mattis in elit in dignissim. Nulla viverra turpis vitae ligula pulvinar, a dapibus sem aliquam. Phasellus sed tristique lacus. Proin et semper mauris.</p>
    </div>
  </div>
</div>

<hr>

