<div class="container">
  <h1 class="text-center">Inbox</h1><br>
  <div class='row'>
    <% @matches.each do |match| %>
      <div class="row">
        <% if mentor? %>
          <div class="small-4 large-4 columns text-center">
            <img class="image-styling-to-look-more-centered" src="<%= match.mentee.picture_url %>">
          </div>
          <div class="small-4 columns">
            <b><%= match.mentee.first_name %> <%= match.mentee.last_name %></b><br>
            <small><%= match.mentee.current_title %><br> at </small><b><%= match.mentee.current_company %></b>
          </div>
              <%= link_to(conversation_messages_path(match.conversation_id,match.id)) do %>




              <% conv = @conversations.where(id: match.conversation_id).first %>
              <% user_of_last_message = conv.messages.last.user_id %>

                <div class="<%= (conv.messages.last.read == false && (user_of_last_message == match.mentee_id)) ? 'warning' : nil %> button small small-3 columns">
                  See Conversation
                </div>
              <% end %>

        <% else %>
          <div class='row'>
            <div class="small-4 large-4 columns text-center">
              <img class="image-styling-to-look-more-centered" src="<%= match.mentor.picture_url %>">
            </div>
            <div class="small-4 columns text-center">
              <b><%= match.mentor.first_name %> <%= match.mentor.last_name %></b><br>
              <small><%= match.mentor.current_title %><br> at </small><b><%= match.mentor.current_company %></b>
            </div>
              <%= link_to(conversation_messages_path(match.conversation_id,match.id)) do %>

              <% conv = @conversations.where(id: match.conversation_id).first %>
              <% user_of_last_message = conv.messages.last.user_id %>

                <div class="<%= (conv.messages.last.read == false && (user_of_last_message == match.mentor_id)) ? 'warning' : nil %> button small small-3 columns">
                  See<br> Conversation
                </div>
              <% end %>
          </div>
        <% end %>
      </div>
      <hr class="style-three">
    <% end %>
</div>



