<h1 class="text-center"><b><%= @user.first_name %> <%= @user.last_name %></b> | Editing Profile
<br>

<!-- <i class="step fi-pencil size-24"></i> -->
<!-- If errors - place here -->

    <div class="small-12 columns">
      <%= form_for(:user, url: user_path(@user), html:{method:"put"}) do |f| %>
        <table class="text-left">
          <tr>
            <td>Status</td>
            <td>
              <%= f.radio_button :status, 'available', :checked => true %>
              <%= label :status_available, 'Available' %><br>
              <%= f.radio_button :status, 'unavailable' %>
              <%= label :status_unavailable, 'Unavailable' %>
            </td>
          </tr>
          <tr>
            <td>First Name</td>
            <td><%= f.text_field :first_name, :placeholder => "First Name" %></td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td><%= f.text_field :last_name, :placeholder => "Last Name" %></td>
          </tr>
          <tr>
            <td>Location</td>
            <td><%= f.text_field :location, :placeholder => "Location" %></td>
          </tr>
          <tr>
            <td>Industry</td>
            <td><%= f.text_field :industry, :placeholder => "Industry" %></td>
          </tr>
          <tr>
            <td>Portrait URL</td>
            <td><%= f.text_field :picture_url, :placeholder => "Portrait URL" %></td>
          </tr>
          <tr>
            <td>Current Title</td>
            <td><%= f.text_field :current_title, :placeholder => "Current Title" %></td>
          </tr>
          <tr>
            <td>Current Company</td>
            <td><%= f.text_field :current_company, :placeholder => "Current Company" %></td>
          </tr>
          <tr>
            <td>Industry</td>
            <td><%= f.text_field :industry, :placeholder => "Industry" %></td>
          </tr>
        </table>
        <%= f.submit %>
      <% end %>

<% if @errors %>
  <% @errors.each do |error| %>
    <div class="row">
      <div class="small-4 columns text-center">
        <i id="error-glyphicon-notification" class="step fi-alert size-72"></i>
      </div>
      <div class="small-8 columns">
        <b><%=error.full_messages%></b>
      </div>
    </div>
    <hr class="style-two">
  <% end %>
<% end %>

<hr class="style-three">
  <div class="row">
    <div class="small-12 columns text-center">
      <small>Click below to remove one of your professional interests: </small>
      <% @user.user_interests.each do |user_interest| %>
        <div class="small-6 columns">
          <%= link_to "#{user_interest.interest.name}", user_interest_path(user_interest.id), :method => :delete %>
        </div>
      <% end %>
    </div>
  </div>
<% if current_user.interests.length > 0 %>
<% end %>
<hr class="style-three">

