<h1><b><%= @user.first_name %> <%= @user.last_name %></b> |
  <% if @user.status == 'available' %>
    <% if @user.type == 'Mentor' %>
      Offering
    <% else %>
      Seeking
    <% end %>
  <% end %></h1>

<!-- If errors - place here -->

<div class="row">
  <div class="small-4 columns">
    <img src="<%= @user.picture_url %>">
  </div>
  <div class="small-8 columns">
    <%= @user.industry %>
    <%= @user.location %>
    <p><%= @user.current_title %> | <%= @user.current_company %></p>
  </div>
</div>

    <p>About me:</br>
    <%= @user.mission_statement %></p>
    <% if @user.id != current_user.id %>
      <form action="#" method="post">
        <input type="hidden" method="_update">
        <input class="button" type="button" value='Interested?'>
      </form>
    <%end%>

<hr>

<!-- <% interests = nil %>
<% if @user.interests == nil %> -->
  <p>You don't have any interests yet! Add some here.</p>
  <!-- <a href="/users/<%=@user.id%>/finish" class="button round">Add Interests</a> -->
  <!-- <form action="/users/finish" method="get">
    <input class="button" type="button" value="Add interests">
  </form>
<% else %> -->

<!-- #make each interest clickable and look like a button taht you can see other users with this interest -->
<% if @user.interests %>
  Current interests:
  <% @user.interests.each do |interest| %>
  <a href="/users" class="button round"><%= interest.name %></a>
  <% end %>
<% end %>

<!-- <a href="/auth/linkedin" class="button round">Sign up through LinkedIn</a> -->

  <!-- <form action="#" method="get">
    <input class="button" type="button" value="Edit interests">
  </form>
<% end %></br> -->


<%= form_for(:user_interests, url: user_interests_path, html: {method: "create"}) do |f| %>
  <table>
    <tr>
      <td>
        Add some interests here!
      </td>

      <td>
        <select name="interest_id" multiple>
          <% @interests.each do |int| %>
          <option value="<%=int.id%>"><%=int.name%></option>
          <%end%>
        <select>
      </td>
    </tr>
    <tr>
      <td>
        <%= f.submit value="Add Interest!" %>
      </td>
    </tr>
  </table>
<% end %>


<hr>

<% if @user.id != current_user.id %>
  <a href="<%= @user.public_profile_url %>" class="button">View me on LinkedIn</a>
<% else %>
  <a href="https://www.linkedin.com/profile/edit?trk=nav_responsive_sub_nav_edit_profile" class="button">Edit my LinkedIn Profile</a>
<%end%>
<hr>
