<h1 class="text-center"><%= @user.first_name %> <%= @user.last_name %></h1>
<% if @user.status == 'available' %>
  <div class="row">
    <p class="small-1 columns"></p>
    <div class="small-10 columns text-center">
      <% if @user.type == 'Mentor' %>
        <%= @user.first_name %> is Offering Mentorship!
      <% else %>
        <%= @user.first_name %> is Seeking Mentorship
      <% end %>
    </div>
    <p class="small-1 columns"></p>
    </div>
  </div>
  <br>
<% end %>


  <div class="row">
    <p class="small-1 columns"></p>
    <div class="small-4 columns">
      <%=image_tag @user.picture_url %>
    </div>
    <div class="small-7 columns">
      <small><%= @user.current_title %> at</small><br>
      <b><%= @user.current_company%></b><br>
      <small><%= @user.location %></small><br>
    </div>
  </div>


<!-- If errors - place here -->
<% if @errors %>
  <% @errors.each do |error| %>
    <br>
    <div class="row">
      <div class="small-3 columns text-center">
        <i id="error-glyphicon-notification" class="step fi-alert size-36"></i>
      </div>
      <div class="small-9 columns text-center">
        <b><%=error%></b>
      </div>
    </div>
  <% end %>
<% end %>
<hr class="style-two">


  <div class="row">
    <div class="small-12 small-centered columns text-center">
      <i><%= @user.mission_statement %></i>
    </div>
    <!-- <i class="step fi-pencil size-24"></i> -->
  </div>
  <br>

  <% if @user.id != current_user.id %>
    <div class="row">
      <p class="small-1 columns"></p>
      <div class="small-10 columns">
        <%= link_to matches_path(:match => { :receiver_id => "#{@user.id}" }), {:method => :post} do %>
          <div class="button expanded success"><i class='step fi-shuffle size-36'></i><br>Connect!</div>
        <% end %>
      </div>
      <p class="small-1 columns"></p>
    </div>
  <%end%>

  <% if @user == current_user %>
  <div class="row">
    <p class="small-1 columns"></p>

    <div id="add-interest-button-user-show">

      <div class="small-10 columns text-center">
      <%= form_for(:user_interests, url: user_interests_path, html: {method: "create"}) do |f| %>

      <div class='interest-options-holder'>
      <%=render partial: 'interest_option_form' %>
      </div>
      <p class="small-1 columns"></p>
    </div>

    <div class="row">
      <div class="button-group expanded">
        <p class="small-3 columns"></p>
            <%= f.submit value="Add Interest!", class: "small-6 columns text-center warning button" %>
          <% end %>
        <p class="small-3 columns"></p>
      </div>
    </div>

    </div>
  </div>
<%end%>

    <% if @user.interests.length > 0 %>
    <br>
    <h3 class="text-center"><%= current_user == @user ? "My" : "#{@user.first_name}'s"%> Interests</h3>
    <div class="row" id="interest-container-user-show">
      <% @user.interests.each do |interest| %>
        <div class="small-6 columns">
          <a href="/interests/<%=interest.id%>" class="button expanded professional-interest-button"><%= interest.name %></a>
        </div>

    <% end %>
    </div>
  <% else %>
    <div class="small-12 columns text-center">
      <p>You don't have any interests yet...<br> Add some using the form above!</p>
    </div>
  <% end %>


<hr class="style-two">

<% if @user == current_user %>
  <div class="row">
    <div class="button-group expanded">
      <p class="small-3 columns"></p>
      <a href="/users/<%=current_user.id%>/edit" class="small-6 columns button warning"><i class="step fi-pencil size-36"></i><br>Edit My Profile</a>
      <p class="small-3 columns"></p>
    </div>
  </div>
<hr class="style-three">
<% end %>
