<h1><%=current_user.first_name%>'s Dashboard</h1>

<div class="row">
  <div class="small-3 large-4 columns">
    <%=image_tag current_user.picture_url %>
  </div>
  <div class="small-6 large-4 columns">
    <h4><%=current_user.location%></h4>
  </div>
  <div class="small-9 large-4 columns">
    <h4><%=current_user.current_title%> at <%=current_user.current_company%></h4>
  </div>
</div>

<div class="row">
  <div class="small-6 large-4 columns">
    <h4>Interests:</h4>
    <!-- List of interests goes here -->
  </div>
</div>
<div class="row">
  <div class="small-8 large-10 columns">
    <h2>What would you like to do?</h2>
  </div>
</div>

<div class="row">
  <div class="small-6 large-4 columns">
    <a href="/users" class="button round">Find a Match</a>
  </div>
  <div class="small-6 large-4 columns">
    <a href="#" class="button round">View Requests</a>
  </div>
</div>

<div class="row">
  <div class="small-6 large-4 columns">
    <a href="#" class="button round">View Inbox</a>
  </div>
  <div class="small-6 large-4 columns">
    <a href="/users/<%=current_user.id%>" class="button round">Profile</a>
  </div>
</div>
