<div class="container">
<h1 class="text-center"><%= current_user.type == "Mentor" ? "Seeker" : "Mentor"%> Search Matches</h1>
<br>

<% if @users.length == 0 %>

  <div class="row">
    <div class="small-3 columns text-center">
      <i id="error-glyphicon-notification" class="step fi-alert size-36"></i>
    </div>
    <div class="small-9 columns text-center">
      <h3>No users match that information! Try expanding your search.</h3>
    </div>
  </div>

<%else%>

  <% @users.each do |user| %>
    <a href="/users/<%=user[0].id%>">
      <div class="row">
        <p class="small-1 columns"></p>
        <div class="small-4 columns">
          <%=image_tag user[0].picture_url %>
        </div>
        <div class="small-7 columns">
          <b><%= user[0].first_name %> <%= user[0].last_name %></b><br>
          <small><%= user[0].current_title %> at</small><br>
          <b><%= user[0].current_company%></b><br>
          <small><%= user[0].location %></small><br>
        </div>
      </div>
    </a>

    <hr class="style-two">

    <div class="row">
      <div class="small-12 small-centered columns text-center">
        <i><%= user[0].mission_statement %></i>
      </div>
    </div>
    <div class="row">
      <div class="small-12 small-centered columns text-center">
        <% if user[1] > 0 %>
        <small><b>You have <%= user[1] %> <%= user[1] != 1 ? 'interests' : 'interest'%> in common</b></small>
        <% else %>
        <small><b>You have no interests in common</b></small>
        <% end %>
      </div>
    </div>

    <hr class="style-two">

    <div class="row">
      <div class="small-12 columns">
        <div class="button-group expanded text-center">
          <a href="/users/<%=user[0].id%>" class="button fuzzy-search-button"><%= image_tag('100pxWhiteLogo.png', :alt=>'Mentorship', size: "30x30")%><br><%=user[0].first_name%>'s Profile</a>
          <a href="<%=user[0].public_profile_url%>" target="_blank" id="tabs-3-linkedin-button" class="button fuzzy-search-button"><i class="step fi-social-linkedin size-36"></i><br>LinkedIn</a>
          <%= link_to matches_path(:match => { :receiver_id => "#{user[0].id}" }), {:method => :post} do %>
            <div class="button warning fuzzy-search-button"><i class='step fi-like size-36'></i><br>Connect</div>
          <% end %>
        </div>
      </div>
    </div>

    <hr class="style-three">
  <% end %>
  </div>
<% end %>
