<% @matches.each do |match| %>
  <% if current_user.type == "Mentor" %>
  <a href="/users/<%=match.mentee.id%>">
    <div class="row">
      <div class="small-4 large-4 columns">
        <%= image_tag match.mentee.picture_url %>
      </div>
      <div class="small-8 large-8 columns">
        <b><%= match.mentee.first_name %> <%= match.mentee.last_name %></b><br>
        <small><%= match.mentee.current_title %> at</small><br>
        <b><%= match.mentee.current_company%></b><br>
      </div>
    </div>
  </a>

  <hr class="style-two">

    <div class="row">
      <div class="small-12 small-centered columns text-center"><small><i><%= match.mentee.mission_statement %></i></small></div>
    </div>

  <hr class="style-two">
    <div class="row">
      <div class="small-12 columns">
        <div class="button-group text-center" id="jackie-button-group-left-button">
        <%= link_to conversations_path do %>
          <button class="button small small-4"><i class='step fi-mail size-60'></i></button>
        <% end %>
        <%= link_to match_path(match.id), {:method => :delete} do %>
          <button class="button small small-4 warning"><i class='step fi-lock size-60'></i></button>
        <% end %>
        <%= link_to match_path(match.id, :match => { :type => "BlockedMatch" }), {:method => :put} do %>
          <button class="button small small-4 alert block-button-to-hide-profile"><i class='step fi-prohibited size-60'></i></button>
        <% end %>
        </div>
      </div>
    </div>
  <% else %>
  <a href="/users/<%=match.mentor.id%>">
    <div class="row">
      <div class="small-4 large-4 columns">
        <%= image_tag match.mentor.picture_url %>
      </div>
      <div class="small-8 large-8 columns">
        <b><%= match.mentor.first_name %> <%= match.mentor.last_name %></b><br>
        <small><%= match.mentor.current_title %> at</small><br>
        <b><%= match.mentor.current_company%></b><br>
      </div>
    </div>
  </a>
  <hr class="style-two">

    <div class="row">
      <div class="small-12 small-centered columns text-center"><small><i><%= match.mentor.mission_statement %></i></small></div>
    </div>

  <hr class="style-two">
    <div class="row">
      <div class="small-12 columns">
        <div class="button-group expanded text-center">
        <%= link_to conversations_path do %>

          <div class="button success"><i class='step fi-mail size-60'></i></div>
        <% end %>
        <%= link_to match_path(match.id, :match => { :type => "ClosedMatch" }), {:method => :put} do %>
          <div class="button warning"><i class='step fi-lock size-60'></i></div>
        <% end %>
        <%= link_to match_path(match.id, :match => { :type => "BlockedMatch" }), {:method => :put} do %>
          <div class="button alert"><i class='step fi-prohibited size-60'></i></div>
        <% end %>
        </div>
      </div>
    </div>
  <% end %>

  <hr class="style-three">

<% end %>
