<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<h1 class="text-center"><%=current_user.first_name%>'s Requests</h1>

<div id="tabs" style="font-family:Open Sans, sans-serif;">
    <ul>
      <li class="our-match-index-tabs"><a class="text-center" href="#tabs-1"><%= current_user.type == "Mentor" ? "Seeker" : "Mentor"%><br>Requests</a></li>
      <li class="our-match-index-tabs"><a class="text-center" href="#tabs-2">My<br><%= current_user.type == "Mentor" ? "Protegés" : "Mentors"%></a></li>
      <li class="our-match-index-tabs"><a class="text-center" href="#tabs-3">Pending<br>Requests</a></li>
    </ul>

  <div id="tabs-1">
    <div class="container">
      <% if @matches_pending_my_decision.length > 0 %>
          <%= render 'matches_index_tab1_partial' %>
      <% else %>

        <p class='text-center'>It looks like you don't have any requests from <%= current_user.type == "Mentor" ? "Protegés" : "Mentors"%>.

        Check back later!</p>

      <% end %>
    </div>
  </div>

  <div id="tabs-2">
    <div class="container parent-container-to-remove-profile-when-blocked">
      <% if @matches.length > 0 %>
        <%= render 'matches_index_tab2_partial' %>
      <% else %>

        <h3 class="text-center"><b>On no!</b></h3>
        <p class="text-center">It looks like you don't<br>have any <%= current_user.type == "Mentor" ? "Protegés" : "Mentors"%>!</p>
        <p class="text-center">Connect with a <%= current_user.type == "Mentor" ? "Protegé" : "Mentor"%> today!</p>

        <hr class="style-two">

        <p><a href="/users" class="button expanded success"><i class='step fi-shuffle size-36'></i><br>Click here</a></p>


      <% end %>
    </div>
  </div>

  <div id="tabs-3">
    <div class="container">
      <% if @matches_pending_others_decision.length > 0 %>
        <% @matches_pending_others_decision.each do |decision| %>
          <a href="/users/<%=decision.receiver.id%>">
          <div class="row">
            <div class="small-4 columns"><%= image_tag decision.receiver.picture_url %></div>
            <div class="small-8 columns">
              <b><%= decision.receiver.first_name %> <%= decision.receiver.last_name %></b><br>
              <small><%= decision.receiver.current_title %> at</small><br>
              <b><%= decision.receiver.current_company%></b><br>
            </div>
          </div>
          </a>

        <hr class="style-two">

          <div class="row">
            <div class="small-12 small-centered columns text-center">
              <small><i><%= decision.receiver.mission_statement %></i></small>
            </div>
          </div>

        <hr class="style-two">

          <div class="row">
            <div class="small-12 columns">
              <div class="button-group small text-center">
                <a href="<%=decision.receiver.public_profile_url%>" target='_empty' id="tabs-3-linkedin-button" class="button small"><i class="step fi-social-linkedin size-36"></i><br>LinkedIn</a>
                <%= link_to match_path(decision.id), {:method => :delete} do %>
                  <div class="button small alert"><i class='step fi-x size-36'></i><br>Cancel</div>
                <% end %>
              </div>
            </div>
          </div>

        <hr class="style-three">
        <% end %>
      <% else %>

        <h3 class="text-center"><b>On no!</b></h3>
        <p class="text-center">It looks like you don't<br>have any <%= current_user.type == "Mentor" ? "Protegés" : "Mentors"%>!</p>
        <p class="text-center">Connect with a <%= current_user.type == "Mentor" ? "Protegé" : "Mentor"%> today!</p>

        <hr class="style-two">

        <p><a href="/users" class="button expanded success"><i class='step fi-shuffle size-36'></i><br>Click here</a></p>

      <% end %>
    </div>
  </div>
</div>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
$(function() {
  $( "#tabs" ).tabs();
});
</script>

