<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">


<h1 class="text-center"><%=current_user.first_name%>'s Requests</h1>

<div id="tabs">

  <div class="row text-center">
    <ul>
      <li><a href="#tabs-1" class="text-center"><small><%= current_user.type == "Mentor" ? "Seeker" : "Mentor"%><br>Requests</small></a></li>
      <li><a href="#tabs-2" class="text-center"><small>My<br><%= current_user.type == "Mentor" ? "Protegés" : "Mentors"%></small></a></li>
      <li><a href="#tabs-3" class="text-center"><small>Pending<br>Requests</small></a></li>
    </ul>
  </div>

  <div id="tabs-1">
    <div class="container">
      <% if @matches_pending_my_decision %>
        <% @matches_pending_my_decision.each do |decision| %>

            <div class="row">
              <div class="small-4 large-4 columns">
                <a href="<%=decision.initiator.public_profile_url%>" target="_blank"><%= image_tag decision.initiator.picture_url %></a>
              </div>
              <div class="small-8 large-8 columns">
                <b><%= decision.initiator.first_name %> <%= decision.initiator.last_name %></b><br>
                <small><%= decision.initiator.current_title %> at</small><br>
                <b><%= decision.initiator.current_company%></b><br>
              </div>
            </div>

          <hr class="style-two">

            <div class="row">
              <div class="small-12 small-centered columns text-center"><small><i><%= decision.initiator.mission_statement %></i></small></div>
            </div>

          <hr class="style-two">
            <div class="row">
              <div class="small-12 columns">
                <div class="button-group text-center">
                <%= link_to match_path(decision.id, :match => { :type => "AcceptedMatch" }), {:method => :put} do %>
                  <div class="button success"><i class='step fi-like size-36'></i><br>Accept</div>
                <% end %>
                <%= link_to match_path(decision.id), {:method => :delete} do %>
                  <div class="button warning"><i class='step fi-dislike size-36'></i><br>Reject</div>
                <% end %>
                <%= link_to match_path(decision.id), {:method => :delete} do %>
                  <div class="button alert"><i class='step fi-prohibited size-36'></i><br>Block</div>
                <% end %>
                </div>
              </div>
            </div>


          <hr class="style-three">

        <% end %>
      <% else %>

        <p>It looks like you don't have any requests from <%= current_user.type == "Mentor" ? "Protegés" : "Mentors"%>. Check back later!</p>

      <% end %>
    </div>
  </div>

  <div id="tabs-2">
    <div class="container">
      <% if @matches %>
        <% @matches.each do |match| %>

        <% end %>
      <% else %>

        <h3 class="text-center"><b>On no!</b></h3>
        <p class="text-center">It looks like you don't<br>have any <%= current_user.type == "Mentor" ? "Protegés" : "Mentors"%>!</p>
        <p class="text-center">Connect with a <%= current_user.type == "Mentor" ? "Protegé" : "Mentor"%> today!</p>

        <hr class="style-two">

        <p><a href="/users" class="button expanded success">Click here</a></p>

      <% end %>
    </div>
  </div>

  <div id="tabs-3">
    <div class="container">
      <% if @matches_pending_others_decision %>
        <% @matches_pending_others_decision.each do |decision| %>
          <a href="/users/<%=decision.receiver.id%>">
          <div class="row">
            <div class="small-4 columns"><%= image_tag decision.receiver.picture_url %></div>
            <div class="small-8 columns">
              <b><%= decision.receiver.first_name %> <%= decision.receiver.last_name %></b><br>
              <small><%= decision.receiver.current_title %> at</small><br>
              <b><%= decision.receiver.current_company%></b><br>
            </div>
          </div>
          </a>

        <hr class="style-two">

          <div class="row">
            <div class="small-12 small-centered columns text-center">
              <small><i><%= decision.receiver.mission_statement %></i></small>
            </div>
          </div>

        <hr class="style-two">

          <div class="row">
            <div class="small-12 columns">
              <div class="button-group small text-center">
                <a href="<%=decision.receiver.public_profile_url%>" id="tabs-3-linkedin-button" class="button small"><i class="step fi-social-linkedin size-36"></i><br>LinkedIn</a>
                <a href="#" class="button small alert"><i class="step fi-x size-36"></i><br>Cancel</a>
              </div>
            </div>
          </div>

        <hr class="style-three">
        <% end %>
      <% else %>

        <p class="text-center">It looks like you don't have any requests to connect with <%= current_user.type == "Mentor" ? "Protegés" : "Mentors"%>.</p>
        <hr class="style-two">
        <p class="text-center">Connect with a <%= current_user.type == "Mentor" ? "Protegé" : "Mentor"%> today!</p>
        <p><a href="/users" class="button small success">Click here</a></p>

      <% end %>
    </div>
  </div>
</div>

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
$(function() {
  $( "#tabs" ).tabs();
});
</script>

