<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <nav>
        <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="medium">
          <button class="menu-icon" type="button" data-toggle></button>
          <div class="title-bar-title">Mentorship</div>
        </div>
        <div class="top-bar" id="main-menu">
          <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
              <li class="menu-text"><a href="/">Home</a></li>
            </ul>
          </div>
          <div class="top-bar-right">
            <ul class="menu">
              <% if logged_in? %>
                <li><a href="/users/<%=current_user.id%>">My Profile</a></li>
              <% else %>
                <li><a href="/auth/linkedin">Login</a></li>
                <li><a href="/auth/linkedin">Register</a></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

  <%= yield %>

  <footer>
    <nav>
      <% if logged_in? %>
      <p>You are logged in as <%= current_user.first_name %> <%= current_user.last_name %> |
      <a href="/logout">Logout?</a></p>
      <% end %>

    </nav>
  </footer>
  </body>

</html>
