<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>

      <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><a href="#">Mentorship</a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <ul class="right">
            <% if logged_in? %>
              <li><a href="/users/<%=current_user.id%>">My Profile</a</li>
            <% else %>
              <li><a href="/auth/linkedin">Login</a</li>
              <li><a href="/auth/linkedin">Register</a</li>
            <% end %>
          </ul>
        </section>
      </nav>

    </header>

  <%= yield %>

  <footer>
    <nav>
      <% if logged_in? %>
      <p>You are logged in as <%= current_user.first_name %> <%= current_user.last_name %> |
      <a href="/logout">Logout?</a></p>
      <% end %>

    </nav>
  </footer>
  </body>

</html>
