<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <nav>
        <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="large">
          <button class="menu-icon" type="button" data-toggle></button>
          <div class="title-bar-title"><a href="/"><%= image_tag('150pxLogo.png', :alt=>'Sign In!')%></a></div>
            <div id="jackie-search-bar" class='top-bar-right'>
              <% if logged_in? %>
                <%= form_tag(searches_path, method: "get", id: "search-form") do %>
                <%= text_field_tag :search, params[:search], placeholder: "Search" %>
                <%end%>
              <%end%>
            </div>
          </div>
        <div class="top-bar" id="main-menu">
          <div class="top-bar-left">
            <ul class="vertical dropdown menu" data-dropdown-menu>
              <% if logged_in? %>
                <li><a href="/conversations">
                    <i class="step fi-mail size-24">
                    </i>  My Inbox</a></li>
                <li><a href="/matches">
                    <i class="step fi-torsos-all size-24">
                    </i> My <%= current_user.type == "Mentor" ? "Seeker" : "Mentor"%> Requests</a></li>
                <li><a href="/users/<%=current_user.id%>">
                    <i class="step fi-torso-business size-24">
                    </i> My Profile</a></li>
                <li><a href="/users">
                    <i class="step fi-shuffle size-24">
                    </i> Find <%= current_user.type == "Mentor" ? "Seekers" : "Mentors"%> </a></li>
              <% else %>
                <li><a href="/auth/linkedin">Login</a></li>
                <li><a href="/auth/linkedin">Register</a></li>
              <% end %>
            </ul>
          </div>
        </div>

      </nav>
    </header>

  <%= yield %>


<% if logged_in? %>
  <br>
  <div class="small-12 small-centered columns text-center">
    <footer>
      <p class='text-center'>You are logged in as <%= current_user.first_name %> <%= current_user.last_name %></p>
        <div class="row">
          <div class="button-group">
            <div class="small-6 columns">
              <a href="/users/<%=current_user.id%>/edit" class="button expanded warning"><i class="step fi-pencil size-36"></i><br>Edit My Profile</a>
            </div>
            <div class="small-6 columns">
              <a href="/logout" class="button expanded alert"><i class="step fi-unlock size-36"></i><br>Logout</a>
            </div>

          </div>
        </div>
      <p class='text-center'>(C) 2016<br><small>All rights reserved.</small><br>Jaclyn Feminella, David Lange,<br>Ivy Vetor, and Jason Allen</p>

      <i class="step fi-social-linkedin size-48"></i>
      <p class='text-center'>User authentication courtesy LinkedIn API</p>

    </footer>
  </div>

<% end %>
  </body>

</html>
