<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <nav>
        <div class="title-bar" data-responsive-toggle="main-menu" data-hide-for="large">
          <button class="menu-icon" type="button" data-toggle></button>
          <div class="title-bar-title"><a href="/"><%= image_tag('100pxWhiteLogo.png', :alt=>'Sign In!', size: "50x50")%></a></div>
            <div id="jackie-search-bar" class='top-bar-right'>
              <%= form_tag(searches_path, method: "get", id: "search-form") do %>
              <%= text_field_tag :search, params[:search], placeholder: "Search" %>
              <% end %>
            </div>
          </div>
        <div class="top-bar" id="main-menu">
          <div class="top-bar-left">
            <ul class="vertical dropdown menu" data-dropdown-menu>
                <li><a href="/conversations" class="row"><i class="step fi-mail size-24 small-1 columns"></i>
                    <div class="small-10 columns">My Inbox</div></li></a>

                <li><a href="/matches" class="row">
                    <i class="step fi-torsos-all size-24 small-1 columns"></i>
                    <div class="small-10 columns">My <%= current_user.type == "Mentor" ? "Seeker" : "Mentor"%> Requests</div></li></a>

                <li><a href="/users/<%=current_user.id%>" class="row"><i class="step fi-torso-business size-24 small-1 columns"></i>
                    <div class="small-10 columns">My Profile</div></li></a>

                <li><a href="/users" class="row"><i class="step fi-shuffle size-24 small-1 columns"></i>
                    <div class="small-10 columns">Find <%= current_user.type == "Mentor" ? "Seekers" : "Mentors"%> </div></li></a>
            </ul>
          </div>
        </div>
      </nav>
    </header>

  <%= yield %>

  </body>

</html>
